<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xsi:schemaLocation="
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/oxm
						http://www.springframework.org/schema/oxm/spring-oxm.xsd">

    <oxm:jibx-marshaller id="jibxReport" target-class="ru.menkin.xml.data.Report" />

    <bean id="reportMapper" class="ru.menkin.xml.oxm.OXMapper">
        <property name="marshaller" ref="jibxReport"/>
        <property name="unmarshaller" ref="jibxReport"/>
    </bean>

    <bean id="XMLProcessor" class="ru.menkin.xml.XMLProcessor">
        <property name="oxmMapper" ref="reportMapper"/>
    </bean>
</beans>